*{
    margin: 0;
    padding: 0;
}
html{
    font-size:100%;
}
body{
    font-family: "Red Hat Display", sans-serif;
}
.MainBody{
    background-image:  url(../images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card{
    background-color: #ffffff;
    height: 75vh;
    width: 50vh;
    border-radius: 1.25rem;
    background-image:  url(../images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: contain ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 6.25rem hsl(224, 23%, 55%);
}
.card-text{
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;

}
.info-section{
    background-color:hsl(225, 100%, 98%);
    position: relative;
    border-radius: 1.25rem;
    padding: 2.5rem;
    margin-bottom: 20px;
    box-shadow: inset 0 0 6.25rem hsl(225, 100%, 98%);
}
.main-text{
    text-align: center;
    margin-bottom: 1.25rem;
}
.musicNote{
    position: absolute;
    left: 5%;
    top: 30%;
}
.plan{
    position: relative;
    left: 20%;
    top: 30%;
}
.pull-right{
    position: absolute;
    left: 60%;
    top: 30%;
}
.btn-section{
    position: relative;
}
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 1.25rem;
    transition: all .2s;
    position: relative;
    margin-bottom: 1.25rem;
    text-align: center;
}
.btn-purple{
    background-color: hsl(245, 75%, 52%);
    color:white;
    width: 80%;
    box-shadow: 0 0 6.25rem hsl(224, 23%, 55%);
}
.btn-grey{
    color: grey;
    width: 80%;
}
.btn:hover{
    transform: translateY(-3px);
}

.btn-purple:active{
    background-color:hsl(224, 23%, 55%);
}
.btn-grey:active{
    color: black;
}
.btn-blue:active{
    text-decoration: none;
    color: hsl(245, 75%, 52%);
}